{% extends "base.html" %}

{% block content %}

<h1>Hello World, I am Guang XIONG, you can contact me at: guangxiong@nyu.edu</h1>
  <hr/>
  <h2>I am actively seeking full time software engineer, My fields of interests are: </h2>
  <table class="lead">
  <li> Full Stack Web Application Development</li>
  <li>Mobile App Development</li>
  <li>Game Design</li>
  <li>Agile Development and Fast ProtoTyping</li>
  </table>
{#<h2>I am actively seeking full time software engineer, My fields of interests are: </h2>#}
{#  <h3>Full Stack Web Application Development</h3>#}
{#  <h3>Mobile App Development</h3>#}
{#  <h3>Game Design</h3>#}
{#  <h3>Agile Development and Fast ProtoTyping</h3>#}

  <br/>
  <hr/>
  <hr/>
  <a class="glyphicon-bold lead" href="https://github.com/GuangXIONG">My Github</a> <br/>
  <a class="glyphicon-bold lead" href="https://www.linkedin.com/profile/view?id=319841362">My LinkedIn</a>

{% endblock %}